---
layout: default
body_class: donate
header_image: /uploads/homeback.jpg
extra_script_tags:
extra_scripts: 
---


  <div class="header" style="background: url({{page.header_image}}) no-repeat top left; background-size: cover;">
  {% include navigation.html %}
  <div class="header-content">
  <div class="main-heading">
      <h1 class="editable">An Investment In Eternity</h1>
      <img src="http://sitesforchurch.s3.amazonaws.com/eternity.png" alt="">
  </div><!--/main-heading-->
  </div><!--header-content-->
  </div><!--/header-->
<div class="page-content">
<div class="main-text">
   <h2>We are trying to raise $100,000 in one year so we can buy property for Camp Rhino.</h2>
  <p>Have you had your life touched by attending Christian summer camp?  Have you sent teenagers to camp and had them come back with their lives changed?  Have you have kids get saved at camp?
</p>
  <p><strong>Children and Teens in South Africa need a Bible Preaching Christian Camp!</strong>  Not only do they live in abject poverty, most of them experience a level of immorality, drunkenness, and demonic activity that few American kids ever experience.  Imagine the impact a week of Christian camp could have on their life.  <em>If Christian Camp helps American churches, imagine how much it could do to help missionaries and native South African churches.</em></p>
  <p><strong>This will also provide an amazing short-term missions trip opportunity for American students.</strong>  Bible College Students and other ministry minded young people will have the opportunity to travel to Africa for a season, work in South African churches with veteran missionaries, and help in the camp as counselors and camp staff. </p>
  <div class="cta-buttons">
  <a href="#" class="button hollow large"><i class="fa fa-paypal"></i> Donate Today</a>
  </div><!--/cta-buttons-->

</div><!--/main-text-->
{% include photos.html %}
{% include newsletter.html %}
</div><!--/page-content-->
