---
layout: default
body_class: home
header_image: /uploads/homeback.jpg
extra_script_tags:
extra_scripts: |
    $(document).foundation();
    $('#exampleModal1').foundation('open');
    var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'side': 'right'
    });
    $('.toggle-button').addEventListener('click', function() {
    slideout.toggle();
    });
---
<div class="reveal" id="exampleModal1" data-reveal>
  <h1>We are still setting up camp.</h1>
  <p class="lead">This website (like our camp) is still in the early stages.  As a result, many buttons and links don't work. Feel free to look around and check back soon to see our progress.</p>
  <a href="#" class="button" data-close>Check Out the Site</a>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div><!--/reveal-->
  <div class="header" style="background: url({{page.header_image}}) no-repeat top left; background-size: cover;">
  {% include navigation.html %}
  <div class="main-heading">
      <p class="editable">An exciting and affordable camp where South African youth can learn about Jesus.</p>
      <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/Play-1.png" /></a>
  </div><!--/main-heading-->
  </div><!--/header-->

<div class="main-text">
  <div class="main-cta">
  <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/cometocamp.png" alt="Come To Camp" /></a>
  <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/becomeavolunteer.png" alt="Become A Volunteer" /></a>
  <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/donatetothecamp.png" alt="Donate to The Camp" /></a>
</div><!--/main-cta-->
  <div class="editable">
  <h2>A week of camp can change your life.</h2>
  <p><strong>Camp Rhino is a new Christian camp in Port Elizabeth, South Africa.</strong> Our mission is to change lives.  We want to change the lives of South African children through a week of camp where they will learn the truths of the Bible and change the lives of missions minded American students by giving them the opportunity to be camp counselors in Africa.</p>
  <p>Campers will experience a week of exciting games and activities in a fun safe environment.  They will get to tour Port Elizabeth’s famous Kragga Kamma animal park.  Most of all, they will learn the life changing message of the Bible from people who care.</p>
  <p>Counselors will get to spend the a season in South Africa ministering the gospel in a summer camp.  They will get to take part in and help in a South African church and will no doubt make memories that will last a lifetime.</p>
  </div>
  <div class="cta-buttons">
  <a href="#" class="button hollow large"><i class="fa fa-child"></i> View Upcoming Camps</a><br />
  <a href="#" class="button hollow large"><i class="fa fa-users"></i> Learn About Missions Counseling</a>
  </div><!--/cta-buttons-->

</div><!--/main-text-->
<div class="photos">
  <div class="photos-inner" id="sqr-gallery">
    {% for item in site.photo_gallery %}

        <div class="photo"><a href="#" data-featherlight="{{item.image_path}}"><img src="{{item.image_path}}" alt="" /></a></div>
{% endfor %}      
  </div><!--/photos-inner-->
</div><!--/photos-->
<div class="newsletter editable">
  <h2>Stay Tuned</h2>
  <p>Sign up for our newsletter to get the latest news and updates.</p>
  <div class="input-group">
  <span class="input-group-label"> <i class="fa fa-envelope"></i> </span>
  <input class="input-group-field" type="email" placeholder="Enter email address" />
  <div class="input-group-button">
    <input type="submit" class="button" value="Subscribe" />
  </div><!--/input group button-->
</div><!--/input group-->

</div><!--/newsletter-->
