---
layout: default
body_class: home
header_image: /uploads/homeback.jpg
extra_script_tags:
extra_scripts: |
    $(document).foundation();
    $('#exampleModal1').foundation('open');
---

  {% include homeModal.html %}


  <div class="header" style="background: url({{page.header_image}}) no-repeat top left; background-size: cover;">
  {% include navigation.html %}
  <div class="header-content">
  <div class="main-heading">
      <p class="editable">An exciting and affordable camp where South African youth can learn about Jesus.</p>
      <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/Play-1.png" /></a>
  </div><!--/main-heading-->
  </div><!--header-content-->
  </div><!--/header-->
<div class="page-content">
<div class="main-text">
  <div class="main-cta">
  <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/cometocamp.png" alt="Come To Camp" /></a>
  <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/becomeavolunteer.png" alt="Become A Volunteer" /></a>
  <a href="donate.html"><img src="http://sitesforchurch.s3.amazonaws.com/donatetothecamp.png" alt="Donate to The Camp" /></a>
</div><!--/main-cta-->
  <div class="editable">
  <h2>A week of camp can change your life.</h2>
  <p><strong>Camp Rhino is a new Christian camp in Port Elizabeth, South Africa.</strong> Our mission is to change lives.  We want to change the lives of South African children through a week of camp where they will learn the truths of the Bible and change the lives of missions minded American students by giving them the opportunity to be camp counselors in Africa.</p>
  <p>Campers will experience a week of exciting games and activities in a fun safe environment.  They will get to tour Port Elizabeth’s famous Kragga Kamma animal park.  Most of all, they will learn the life changing message of the Bible from people who care.</p>
  <p>Counselors will get to spend the a season in South Africa ministering the gospel in a summer camp.  They will get to take part in and help in a South African church and will no doubt make memories that will last a lifetime.</p>
  </div>
  <div class="cta-buttons">
  <a href="#" class="button hollow large"><i class="fa fa-child"></i> View Upcoming Camps</a><br />
  <a href="#" class="button hollow large"><i class="fa fa-users"></i> Learn About Missions Counseling</a>
  </div><!--/cta-buttons-->

</div><!--/main-text-->
{% include photos.html %}
{% include newsletter.html %}
</div><!--/page-content-->
