<div class="reveal" id="exampleModal1" data-reveal>
  <h1>We are still setting up camp.</h1>
  <p class="lead">This website (like our camp) is still in the early stages.  As a result, many buttons and links don't work. Feel free to look around and check back soon to see our progress.</p>
  <a href="#" class="button" data-close>Check Out the Site</a>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div><!--/reveal-->