<div class="logo">
    <a href="{{site.url}}">
    <img src="{{site.data.settings.logo2_image_path}}" alt="">
    </a>
</div><!--/logo-->
<div class="navigation">
    <ul class="menu vertical">
        <li><a href="#"><i class="fa fa-list-alt"></i> News &amp; Updates</a></li>
        <li><a href="#"><i class="fa fa-calendar-o"></i> Upcoming Camps</a></li>
        <li><a href="#"><i class="fa fa-question-circle"></i> About Us</a></li>
        <li><a href="#"><i class="fa fa-users"></i> Volunteer</a></li>
        <li><a href="donate.html"><i class="fa fa-cc-paypal"></i> Donate</a></li>
    </ul><!--/menu-->
</div><!--/navigation-->
<div class="get-connected">
    <div class="connected-header">
        <h3>Get Connected</h3>
        <ul class="social-menu">
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul><!--/social-menu-->
    </div><!--/connected-header-->
    <div class="details">
        <p class="email">email@email.com</p>
        <p class="address">Vision Baptist Mission <br>
        123 Some Street <br>
        Some Town, GA 12345</p>
        <p class="phone">(123) 123-4567</p>
    </div><!--/details-->
    <div class="links">
        <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/psa-1.jpg" alt=""></a>
        <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/vision-1.jpg" alt=""></a>
    </div><!--/links-->
</div><!--/get-connected-->


